<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491689779542-7s5kbs5qper88drv3ac2qr5pj5h57nf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491689779542-7s5kbs5qper88drv3ac2qr5pj5h57nf8</string>
	<key>API_KEY</key>
	<string>AIzaSyBT9IUXWUwJShdDo1MbXOBvaoEQuqfruIk</string>
	<key>GCM_SENDER_ID</key>
	<string>491689779542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.trw.latihan1.Belajaraja</string>
	<key>PROJECT_ID</key>
	<string>namikaze-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>namikaze-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491689779542:ios:f5204ef79895f1912576f7</string>
	<key>DATABASE_URL</key>
	<string>https://namikaze-ios.firebaseio.com</string>
</dict>
</plist>